<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Lista de Estudiantes del laboratorio A-004</title>
</head>
<body>
<div align="center">
    <h1>Listado de Estudiantes</h1>
    <a href="/new">Subir documento de Excel</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Número de estudiante</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha de registro</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estudiante : ${listadeestudiantes}">
                <td th:text="${estudiante.id}">Número de lista</td>
                <td th:text="${estudiante.matricula}">Matricula</td>
                <td th:text="${estudiante.nombre}">Nombre</td>
                <td th:text="${estudiante.ap_paterno}">Apellido Paterno</td>
                <td th:text="${estudiante.ap_materno}">Apellido Materno</td>
                <td th:text="${estudiante.fecha_registro}">Fecha de ingreso</td>
                <td th:text="${estudiante.correo}">Correo</td>
                <td>
                    <a th:href="/@{'/edit/' + ${estudiante.id}}">Modificar</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/delete/' + ${estudiante.id}}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>